# temp files
.gitignore~
..gitignore.un~
.README.md.un~
*.swp

# envs
venv/

# rope project settings

# mypy
.mypy_cache/

# vscode files
.vscode/

# logs
# Byte-compiled / optimized / DLL files
__pycache__/

# other files
sms_numbers_sep252020.csv
